/*About Us*/
.about {
    padding: 5em 0;
}
h3.title {

    /*font-size: 3em;*/
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    margin-bottom: 1em;
    text-align: center;
}
.about h4 {
    /*font-size: 1.3em;*/
    color: #000;
    margin: 0 0 .5em;
    line-height: 1.6em;
}
.about h4{
    font-size: 1.1em;
}
.about p {
    color: #555;

    line-height: 2em;
}
.about-left  img {
    width: 100%;
}

/*------About Us------*/