img {
  width: 4%;
  height: 4%;
}

nav {
  background-color: white;
  width: 100%;
}
.flex-auto {
  color: black;
}
a:hover {
  color: #1e90ff;
  text-decoration: none;
}
.bg-dark {
  background-color: transparent;
}

.positionFixed {
  z-index: 3;
  position: fixed; /* Set the navbar to fixed position */
}
