 /* img {
  width: 8%;
  height: 5%;
}
.nav-margin {
  margin-left: 8%;
  margin-right: 2%;
  height: 0%;
  background-color: white;

  position: fixed-bottom;
}
nav {
  height: 300px;
}
.p-2,
.flex-auto {
  color: black;
  margin-top: 1.5%;

  margin-left: 10px;
}
a:hover {
  color: #1e90ff;
  text-decoration: none;
}
.bg-dark {
  background-color: transparent;
}

.positionFixed {
  overflow: hidden;
  z-index: 3;

  position: fixed; /* Set the navbar to fixed position */
  /*top: 0; /* Position the navbar at the top of the page */
  /*width: 100%;
}
div#collapsibleNavbar {
  background-color: white;
}

.navbar-btn {
  margin-top: 1%;
  width: 7%;
  height: 7%;
}
.flex-auto-login {
  margin-top: 1.5%;

  margin-left: 10px;
  color: #1e90ff !important;
}
.flex-auto-login:hover {
  color: #0000ff !important;
}
.cl {
  background-color: #1e90ff;
  color: #1e90ff;
} */
