@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

.back {
  height: auto;
  min-height:100vh;
  padding: 4vh 2vh 0vh 2vh;
  background: url("../img/carrepair.jpg") no-repeat center center fixed;
}

.signupContainer {
  background-color: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  max-width: 550px;
  height: auto;
  position: relative;
}

.form-header {
  color: black;
  font-family: "Maven Pro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.input-field {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

label {
  order: -1;
  transition: all 0.3s ease-in;
  transform: translateY(6px);
  pointer-events: none;
}

input[type="text"] {
  outline: none;
}
input[type="email"] {
  outline: none;
}
input[type="password"] {
  outline: none;
}
input[type="tel"] {
  outline: none;
}

/*input[type=tel]:valid,
input[type=tel]:focus:valid,
input[type=text]:valid,
input[type=text]:focus.valid,
input[type=password]:valid,
input[type=password]:focus.valid,
input[type=email]:valid,
input[type=email]:focus.valid
{
	border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}*/

.input-border {
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: grey;
}

.role-label {
  color: black;
  font-family: "Maven Pro", sans-serif;
}

.options {
  margin-left: 5%;
}

@media only screen and (max-width: 467px) {
  .options {
    margin-left: 1%;
  }
}

input[type="radio"] {
  height: 14px;
  width: 14px;
}
.radio-label {
  color: black;
  font-family: "Maven Pro", sans-serif;
  margin-left: 3px;
  font-weight: bold;
}

.span-role {
  color: black;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

.radio-group {
  margin-left: auto;
  margin-top: 6px;
  margin-bottom: 5px;
}

.btn-register {
  background-color: #26a69a;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-register:hover {
  color: white;
  background: #33ccbd;
  transition: 300ms ease-in;
}

.btn-register:focus {
  outline: none;
}

.new-login {
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
}

#company_group {
  margin-top: -3vh;
}

@media only screen and (max-width: 575px) {
  #company_group {
    margin-top: -7vh;
  }
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
